<header>
    <img src="./image/logo.png" alt="logo CityTalk"  > 
    </header>
    <section>
    <input type="email" id="inputEmail" placeholder="E-mail" />  -->
    <input type ="text" id="inputUserName" placeholder="Nombre de usuario" required /> 
     <input type="password" id="inputPass" placeholder="Contraseña" />
    <button id="checkIn" >Registrarme</button>
    <button id="loginGoogle">Iniciar sesión con Google</button>
    </section>
    <section>
    <input type="email" id="loginEmail" placeholder="E-mail" />
    <input type ="text" id="inputUserName" placeholder="Nombre de usuario" required />
    <input type="password" id="loginPass" placeholder="Contraseña" />
    <button id="login">Iniciar sesión</button>
    </section> -->
    

     
    
    
    
    <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-app.js";
    import { getAuth, createUserWithEmailAndPassword, GoogleAuthProvider, signInWithPopup, signInWithEmailAndPassword, sendEmailVerification } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-auth.js";
    
    const firebaseConfig = {
      apiKey: "AIzaSyClhi-ETouKkrcJU2bRmNFetdCZ_0kuNzg",
      authDomain: "proyectcitytalk.firebaseapp.com",
      projectId: "proyectcitytalk",
      storageBucket: "proyectcitytalk.appspot.com",
      messagingSenderId: "615580823373",
      appId: "1:615580823373:web:a7141cbce777fb3e46d104"
    }; -->
    
     const app = initializeApp(firebaseConfig);
     const auth = getAuth(app);
     const provider = new GoogleAuthProvider(app);

     document.getElementById("checkIn").addEventListener("click",function(){
          const inputEmail= document.getElementById("inputEmail").value;
          //const inputUserName= document.getElementById("inputUserName").value;
          const inputPass=document.getElementById("inputPass").value;
    -->
    
         createUserWithEmailAndPassword(auth, inputEmail, inputPass)
        .then((userCredential) => {
           // Signed in
            const user = userCredential.user;
           // ...
           console.log("created");
         })
        .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
            // ..
           console.log(errorCode + errorMessage);
         })
    
      });
    document.getElementById("loginGoogle").addEventListener("click",function(){
      signInWithPopup(auth, provider)
    .then((result) => {
      // This gives you a Google Access Token. You can use it to access the Google API.
      const credential = GoogleAuthProvider.credentialFromResult(result);
      const token = credential.accessToken;
      // The signed-in user info.
      const user = result.user;
      console.log(user);
      // ...
    }).catch((error) => {
      // Handle Errors here.
      const errorCode = error.code;
      const errorMessage = error.message;
      // The email of the user's account used.
      const email = error.email;
      // The AuthCredential type that was used.
      const credential = GoogleAuthProvider.credentialFromError(error);
      console.log(errorMessage);
      // ...
    });
    
    });
    
    document.getElementById("login").addEventListener("click",function(){
      const loginEmail= document.getElementById("loginEmail").value;
      const loginPass=document.getElementById("loginPass").value;
      signInWithEmailAndPassword(auth, loginEmail, loginPass)
    .then((userCredential) => {
      // Signed in
      const user = userCredential.user;
      console.log("Logeado");
      // ...
    })
    .catch((error) => {
      const errorCode = error.code;
      const errorMessage = error.message;
      console.log(errorCode + errorMessage)
    });
    });
    
    <!-- // </script> -->
    
    
    