*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
   
}

.root{
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.divRegister,
.divHome {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.inputStyle{
    border: 1px solid #f0e6ff;
    outline:none;
    width: 70%;
    max-width: 70%;
    height: 2em;
    margin: 2%;
    text-align: center;
    box-shadow: 0px 0px 1px rgba(204, 204, 204, 0.712);
    font-size: 1em;
    
}

.btnStyle {
    width: 70%;
    max-width: 70%;
    height: 2em;
    margin: 2%;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    font-weight: bold;
    border: none; 
    background: #6600ff;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(204, 204, 204, 0.712);
    cursor: pointer;

}

.btnLogOut{
    width: 25%;
    margin-left: 65%;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.btnStyle:hover{
    box-shadow: 3px 0 30px rgba(163, 163, 163, 1);
}

.btnGoogle{
    width: 70%;
    max-width: 70%;
    height: 2em;
    margin: 2%;
    text-align: center;
    font-size: 1em;
    color: #000000;
    font-weight: bold;
    border: 1px solid #f0e6ff;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 0px 0px 1px rgba(204, 204, 204, 0.712);
    cursor: pointer;
}

.btnStyleText {
    font-size: 1em;
    border: none;
    background: #ffffff;
    margin: 3% 0 5% 0;
    color: #66b3ff;
    cursor: pointer;
}

img{
    width: 100%;
}

.imgHome{
  margin-top: 10%;
}

.imgRegister{
 margin: 3% 0 6% 0;
 width: 80% ;
 object-fit: contain;
}

.logoImg{
    width: 50%;
    margin-top: 20%;
}

.information{
    display: none;
    width: 70%;
    max-width: 70%;
    margin: 2%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-size: bold;
    color: #ff5050;
    text-align: center;
    position: relative;
}

.informationRegister{
    color: #70db70;
}

.profileDiv{
 display: flex ;
 height: 6em;
 margin-bottom: 15%;
 background: #6600ff;

}

.imgProfile{
    border: 5px solid  #ffffff;
    object-fit: contain;
    width: 25%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: 10%;
    
}

.nameDiv{
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-align: center;
    margin-bottom: 5%;
}

.formPublication{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;

}
.publicationTitle,
.publicationTitle{
    width: 100%;
    font-size: 1em;
    text-align: center;
    margin-bottom: 0.5em;
    outline: none;
}

.containerPosts {
    background:#e6ecff;
    margin: 1em;
}

.titlePost{
    font-size: 1.2em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.userData{
    color:#000000;
    font-size: 1em;
}

@media (min-width: 760px){ 
    .root{
        max-width: 50%;
    }
    .btnGoogle,
    .btnStyle,
    .inputStyle{
        width: 70%;
        max-width: 70%;
        height: 3em;
    }
    .btnStyleText {
        font-size: 1em;
    }
}
@media (min-width: 1500px){ 
    .root{
        max-width: 30%;
    }
}