*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
   
}

.root{
    width: 100vw;
    height: 100vh;
    margin: auto;
}
.loginDiv{
    /* background: #e6f2ff; */
    background: #ffffff; 
}

.divRegister,
.divHome {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.inputStyle{
    border: 1px solid #f0e6ff;
    outline:none;
    width: 70%;
    max-width: 70%;
    height: 2em;
    margin: 2%;
    text-align: center;
    box-shadow: 0px 0px 1px rgba(204, 204, 204, 0.712);
    font-size: 1em;
    
}

.btnStyle {
    width: 70%;
    max-width: 70%;
    height: 2em;
    margin: 2%;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    font-weight: bold;
    border: none; 
    background: #6600ff;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(204, 204, 204, 0.712);
    cursor: pointer;

}

.btnUpdate,
.btnLogOut,
.btnSave {
    width: 100%;
    max-width: 100%;
    height: 2em;
    margin: 2%;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    font-weight: bold;
    border: none; 
    background: #6600ff;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(204, 204, 204, 0.712);
    cursor: pointer;

}

.btnsStyle{
    width: 30%;
    max-width: 30%;
    height: 2.5em;
    text-align: center;
    font-size: 0.8em;
    /* font-weight: bold; */
    color: #19334d;
    border: none; 
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(204, 204, 204, 0.712);
    cursor: pointer;
    margin: 0.5%;

}

.btnsStyle:hover{
    background:  #e6f2ff;
}

.containerDate{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3%;
  font-family:'Open Sans', sans-serif, Arial, Helvetica;
  font-size: 0.8em;
}

.containerBtns{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 1% ;
    display: flex;
    justify-content: center;
    
}

.btnLogOut{
    width: 50%;
    margin-left: 40%;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.btnUpdate,
.btnSave{
    margin: auto;
}

.btnUpdate{
    background: #ff471a;
}

.btnStyle:hover{
    box-shadow: 3px 0 30px rgba(163, 163, 163, 1);
}

.btnGoogle{
    width: 70%;
    max-width: 70%;
    height: 2em;
    margin: 2%;
    text-align: center;
    font-size: 1em;
    color: #000000;
    font-weight: bold;
    border: 1px solid #f0e6ff;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 0px 0px 1px rgba(204, 204, 204, 0.712);
    cursor: pointer;
}

.btnStyleText {
    font-size: 1em;
    border: none;
    background: #ffffff;
    margin: 3% 0 5% 0;
    color: #66b3ff;
    cursor: pointer;
}

img{
    width: 100%;
}

.imgHome{
  margin-top: 10%;
}

.imgRegister{
 margin: 3% 0 6% 0;
 width: 80% ;
 object-fit: contain;
}

.logoImg{
    width: 50%;
    margin-top: 20%;
}

.information{
    display: none;
    width: 70%;
    max-width: 70%;
    margin: 2%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-size: bold;
    color: #ff5050;
    text-align: center;
    position: relative;
}

.informationRegister{
    color: #70db70;
}

.imgProfileDiv,
.profileDiv{
 display: flex ;
 height: 7em;
 margin-bottom: 5%;
 justify-content: center;
 position: relative;
}

.imgProfileDiv{
    z-index: 5;
}

.imgProfile{
    border: 5px solid  #ffffff;
    object-fit: contain;
    max-width: 25%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10%;
    z-index: 100;
    position: absolute;
}

.nameDiv{
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-align: center;
    margin-bottom: 5%;
}

.formPublication{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 5%;

}

.publicationText,
.publicationTitle{
    width: 100%;
    font-size: 1em;
    text-align: center;
    margin-bottom: 0.5em;
    outline: none;
    font-size: 1em;
    text-align: center;
    font-family:'Open Sans', sans-serif, Arial, Helvetica;
    border: none;
    padding: 0.5em 0;
    font-family: cursive
}
.publicationTitle:hover,
.publicationText:hover{
    background:  #e6f2ff;
}
.publicationText{
    text-align: left;
    padding: 0 0.5em;
}

.containerPosts{
    margin: 1em;
    font-size: 1.1em;
}

.descriptionPosts,
.titlePost{
    font-size: 1em;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-family: cursive;
    margin: 20px;
    padding: 10px;
}

.titlePost{
    margin-bottom: 0.8em;
    text-align: center;
}

.descriptionPosts{
 font-size: 0.9em;
}
.userData{
    color:#000000;
    font-size: 1em;
}

.containerPublicationDiv{
    border: 1px solid #3333cc;
    /* border-radius: 6%; */
    max-width: 100%;
    margin-top: 1%;
    margin-bottom: 1em;
    background: #ffffff;
   
}

/* .btnsPostsStyle{
    max-width: 10%;
    height: 1em;
    margin: 2%;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    font-weight: bold;
    border: none; 
    background: #6600ff;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(204, 204, 204, 0.712);
    cursor: pointer
} */
/* .containerBtns{
    display: none;
} */

.errorPublication{
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
}

.imgAuthor{
    object-fit: contain;
    max-width: 9%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 3%;
    padding: 0%;
}

.authorPublication{
 margin: 0%;
 margin-bottom: 3%;
 font-family:'Open Sans', sans-serif, Arial, Helvetica;
 font-size: 0.8em;
}

@media (min-width: 760px){ 
    .root{
        max-width: 100%;
    }
    .btnGoogle,
    .btnStyle,
    .inputStyle{
        width: 70%;
        max-width: 70%;
        height: 3em;
    }
    .btnStyleText {
        font-size: 1em;
    }
    
    .imgProfileDiv,
    .profileDiv{
     height: 15em;
     margin-bottom: 10%;
    }
    
    .imgProfileDiv{
        margin-bottom: 15%;
    }
    .imgProfile{
        max-width: 30%;
    }
    .imgAuthor{
        max-width: 5%;
        height: auto;
    }
}
@media (min-width: 1500px){ 
    .root{
        max-width: 50%;
    }
    .imgProfileDiv,
    .profileDiv{
     height: 15em;
     margin-bottom: 10%;
    }
    
    .imgProfileDiv{
        margin-bottom: 15%;
    }
    .imgProfile{
        max-width: 25%;
    }
    .formPublication{
        width: 80%;
    }
    .containerPublicationDiv{
        max-width: 90%;
        margin: auto;
        margin-bottom: 2%;
    }
}